<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/web/favicon.ico">
    <meta name="description" 
          content="Chinese-English dictionary and corpus">
    <title>{{.Title}}</title>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/web/cnotes-compiled.css">
  </head>
  <body class="mdc-typography">
    <aside class="mdc-drawer mdc-drawer--dismissible"> <!-- Menu drawer-->
      <div class="mdc-drawer__content">
        <nav class="mdc-list">
          <a class="mdc-list-item" href="/">
            <i class="material-icons mdc-list-item__graphic"
              aria-hidden="true">home</i>
            <span class="mdc-list-item__text">Home</span>
          </a>
          <a class="mdc-list-item" href="/findtm">
            <i class="material-icons mdc-list-item__graphic"
              aria-hidden="true">bookmark</i>
            <span class="mdc-list-item__text">Translation Memory</span>
          </a>
          <a class="mdc-list-item" href="/findadvanced/">
            <i class="material-icons mdc-list-item__graphic"
              aria-hidden="true">search</i>
            <span class="mdc-list-item__text">Full Text Search</span>
          </a>
          <a class="mdc-list-item" href="/library">
            <i class="material-icons mdc-list-item__graphic"
              aria-hidden="true">book</i>
            <span class="mdc-list-item__text">Library</span>
          </a>
        </nav>
      </div>
    </aside>
    <div class="mdc-drawer-app-content">
      <!-- Top bar-->
      <header class="mdc-top-app-bar app-bar mdc-top-app-bar--fixed" id="app-bar">
        <div class="mdc-top-app-bar__row">
          <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <a href="#"
               class="demo-menu material-icons mdc-top-app-bar__navigation-icon"
               >menu</a>
            <a class="mdc-top-app-bar__title title--mdc-theme-on-primary" href="/"
              >{{.Title}}</a>
          </section>
        </div>
      </header>  <!-- End top bar-->

      <main class="main-content" id="main-content">
        <div class="mdc-top-app-bar--fixed-adjust">
          <h2>Full Text Search</h2>
          {{if .ErrorMsg}}
            <p>Error: {{ .ErrorMsg }}</p>
          {{ else }}
            <p>Enter Chinese text into to the most relevant documents</p>
          <form name="findForm" method="post" action="/findadvanced/">
            <div>
              <label for="findInput">Search for</label>
              <input type="text" name="query" size="40" required/>
              <button type="submit">Find</button>
            </div>
          </form>
          {{ end }}
          {{if .Results}}
          <h4>Results</h4>
           {{if .Results.Documents}}
            <ul>
              {{ range $doc := .Results.Documents }}
              <li>
                <a href="{{ $doc.GlossFile }}">{{ $doc.Title }}</a>
              </li>
              {{ end }}
            </ul>
            {{ else }}
            <p>No results found</p>
            {{ end }}
          {{ end }}
        </div>
      </main>
      <footer class="page-footer">
      <p>
        Copyright Fo Guang Shan 佛光山 2020.
        The Chinese-English dictionary is reproduced from the <a 
        href="http://ntireader.org/" target="_blank"
        > NTI Buddhist Text Reader</a> under the <a 
        href="https://creativecommons.org/licenses/by-sa/3.0/" target="_blank"
        >Creative Commons Attribution-Share Alike 3.0 License</a>
        (CCASE 3.0). 
        The site is powered by open source
        software under an <a 
        href="http://www.apache.org/licenses/LICENSE-2.0.html"
        >Apache 2.0 license</a>.
        Other content shown in password protected versions of this site is
        copyright protected.
      </p>
      </footer>
    </div> <!-- mdc-drawer-app-content-->
    <script type="module" src="/web/cnotes-compiled.js" async></script>
  </body>
</html>
