<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Translation Portal - Page Not Found</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/web/styles.css">
  </head>
  <body>
    <header>
      <h1>{{.Title}}</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/findtm">Translation Memory</a></li>
        <li><a href="/findadvanced/">Full Text Search</a></li>
        <li><a href="/web/texts.html">Library</a></li>
      </ul>
    </nav>
    <main>
  	  <p>Sorry we could not find that page</p>
    </main>
  </body>
</html>