<!DOCTYPE html>
<!--Home page for logged in users-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <h1>{{.Title}}</h1>
    <p><a href="/loggedin/logout_form">Logout</a></p>
    <p><a href="/loggedin/changepassword">Change password</a></p>
    <p><a href="/loggedin/portal_library/portal_library.html">Library</a></p>
    <form name="findForm" method="post" action="/find/">
      <div>
        <label for="findInput">Search for</label>
        <input type="text" name="query" size="40" required/>
        <button type="submit">Find</button>
      </div>
    </form>
  </body>
</html>