<!DOCTYPE html>
<!--Home page for logged in users-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <h1>{{.Title}}</h1>
    <p><a href="/loggedin/logout_form">Logout</a></p>
    <p><a href="/loggedin/changepassword">Change password</a></p>
    <p><a href="/loggedin/portal_library/portal_library.html">Library</a></p>
    <p>Enter Chinese text into the input field below to find each word and its meaning. </p>
    <form name="findForm" method="post" action="/find/">
      <div>
        <label for="findInput">Search for</label>
        <input type="text" name="query" size="40" required/>
        <button type="submit">Find</button>
      </div>
    </form>
    <p><a href="/findtm">Translation Memory</a></p>
    <footer>
      <p>
        Copyright Fo Guang Shan 佛光山 2020.
        The Chinese-English dictionary is reproduced from the <a 
        href="http://ntireader.org/" target="_blank"
        > NTI Buddhist Text Reader</a> under the <a 
        href="https://creativecommons.org/licenses/by-sa/3.0/" target="_blank"
        >Creative Commons Attribution-Share Alike 3.0 License</a>
        (CCASE 3.0). 
        The site is powered by open source
        software under an <a 
        href="http://www.apache.org/licenses/LICENSE-2.0.html"
        >Apache 2.0 license</a>.
        Other content shown in password protected versions of this site is
        copyright protected.
      </p>
    </footer>
  </body>
</html>