<!DOCTYPE html>
<!--Home page for logged in users-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/web/styles.css">
  </head>
  <body>
    <header>
      <h1>{{.Title}}</h1>
    </header>
    <main>
      <h2>Logged out</h2>
      <p>See you again sometime.</p>
      <p>Go <a href="/">Home</a></p>
    </main>
  </body>
</html>