<!DOCTYPE html>
<!--Home page for logged in users-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/web/styles.css">
  </head>
  <body>
    <header>
    <h1>{{.Title}}</h1>
    </header>
    <main>
      <h2>Logout</h2>
      <p>If you log out then you will have to log back in again to use the portal.</p>
      <form name="logoutForm" method="post" action="/loggedin/logout">
        <div>
          <button type="submit">Logout</button>
        </div>
      </form>
      <p>No, go <a href="/">Home</a> instead.</p>
    </main>
  </body>
</html>