<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Translation Portal Reset Password Confirmation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/web/styles.css">
  </head>
  <body>
    <header>
      <h1>Translation Portal Reset Password Confirmation</h1>
    </header>
    <nav>
      <a href="/">Home</a>
    </nav>
    <main>
      {{if .ResetPasswordSuccessful}}
      <div id="ResetPasswordSuccessfulBar">
        Your password has been reset.
      </div>
      {{else}}
        <div id="ErrorDiv">There was an error with your request</div>
      {{ end }}
    </main>
  </body>
</html>