body {
  width: 1000px;
  color: #696969;
}

h1 {
  color: #2F4F4F;
}

/* Dictionary Entry style */
span.dict-entry-headword {
  font-size: 150%;
  font-weight: normal;
}

span.dict-entry-pinyin {
  font-style: italic;
}

span.dict-entry-grammar {
  color: grey;
}

span.dict-entry-definition {
  font-weight: bold;
}

.dict-entry-notes {
  font-size: 90%;
  color: grey;
}

.dict-entry-domain {
  font-size: 90%;
  color: grey;
}
