/* Main body */
html {
  font-family: "Noto Sans";
}

body {
  color: #696969;
  padding: 0;
  margin: 0;
  max-width: 1000px;
}

h1 {
  background-color: darkblue;
  color: white;
  padding: 10px;
  margin: 0;
}

header {
  background-color: darkblue;
  padding: 0;
  margin: 0;
}

main {
  padding: 5px;
}

/* Menu */
nav {
  background-color: darkblue;
  padding: 3px;
  margin: 0;
}

nav > ul {
	display: flex;
	flex-direction: row;
}

nav > ul > li {
  padding: 5px;
	list-style-type:none;
}

nav > ul > li:hover {
  background-color: blue;
}

nav > ul > li > a {
  color: white;
  text-decoration: none;
}

nav > ul > li > a:hover {
  text-decoration: underline;
}

/* Search form */
form {
  padding: 5px;
  margin: 5px;
}

/* Dictionary Entry style */
span.dict-entry-headword {
  font-size: 150%;
  font-weight: normal;
}

span.dict-entry-pinyin {
  font-style: italic;
}

span.dict-entry-grammar {
  color: grey;
}

span.dict-entry-definition {
  font-weight: bold;
}

.dict-entry-notes {
  font-size: 90%;
  color: grey;
}

.dict-entry-domain {
  font-size: 90%;
  color: grey;
}

/* vocabulary dialog */
dialog {
  width: '800px',
}

/* Footer */
footer {
  padding: 5px;
  background-color: #DCDCDC;
}
